body {
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: white;
}

.header_shadow {
    text-shadow: 3px 3px 3px gray;
}

.header_img {
    width: auto;
    height: 500px;
    background-image:url(images/ASTHROS\ -\ high-altitude-balloon-1041.jpg);
    border-style: solid;
    border-color: black;
    border-width: thick;
}

#header_logo {
    width: 100px;
    height: 100px;
    margin: auto;
    position: sticky;
    border-radius: 50%;
    background: linear-gradient(
        45deg,
        #ccffff,
        #ffcccc);
    animation-name: movement;
    animation-duration: 5s;
}

@keyframes movement{
    0% {
        left: 0px;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 100%;
    }
}